.App {
  text-align: center;
}

.stuff {
  display:flex;
  justify-content: center;
  flex-flow:row wrap;
  padding-inline-start: 0;
  list-style-type: none;
}

.signup,.signin {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  width: 25%;
}
.signup input,.signin input {
  margin-top: 10px;
}

.signup button,.signin button {
  margin-top: 20px;
  width: 35%;
  align-self: center;
}